/*
 * vim: ft=less 
 */

* {
  font-family: "IBM Plex Mono", "Symbols Nerd Font", sans-serif;
  font-size: 14px;
  min-height: 0;
}

@import "dark.less";

window#waybar {
  background: @background;
  border-bottom: 1px solid @selection_background;
}

#workspaces,
#window {
  margin: 5px 10px;
}

#window {
  font-weight: bold;
}

#workspaces button {
  padding: 0 0.1em;
  background: transparent;
  color: @background_b;
}

#workspaces button.visible {
  color: @foreground;
  font-weight: bold;
}

#workspaces button.active {
  color: @foreground;
  font-weight: bold;
}

#workspaces button.urgent {
  color: @magenta;
}

#custom-player,
#custom-notification,
#memory,
#cpu,
#window {
  color: @background_b;
}

#clock {
  color: @foreground;
}

#battery {
  color: @cyan;
}

#battery.charging {
  color: @green;
}

@keyframes blink {
  to {
    color: @red;
    background-color: transparent;
  }
}

#battery.warning:not(.charging) {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: linear;
  background-color: red;
  color: @background;
  font-weight: bold;
}

#network.disconnected,
#network.disabled {
  color: @red;
  font-weight: bold;
}

#network.wifi {
  color: @green;
  font-style: italic;
}

#clock,
#cpu,
#memory,
#battery,
#network,
#custom-notification,
#tray,
#custom-player {
  padding: 0px 5px;
  margin: 0px 5px;
}

#clock {
  margin-left: 10px;
  margin-right: 10px;
}
