* {
  border: none;
  border-radius: 0;
  font-size: 13px;
  min-height: 0;
}

@import "serenade.css";

window#waybar {
  background: @background;
  border-bottom: 2px solid @blue;
  color: @white_b;
}

#workspaces {
  margin: 5px 10px;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @foreground;
  border-bottom: 2px solid transparent;
}

#workspaces button.focused {
  background: @foreground;
	color: @selection_background;
}

#workspaces button.urgent {
  background-color: @magenta;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
  margin: 0 5px;
}


#clock {
  background-color: @green;
  color: @background;
}

#battery {
  background-color: @yellow;
  color: @background;
}

#battery.charging {
  color: @background;
  background-color: @green;
}

@keyframes blink {
  to {
    background-color: @white_b;
    color: @background;
  }
}

/* #idle_inhibitor, */
/* #pulseaudio, */
/* #custom-openvpn, */
/* #network, */
/* #cpu, */
/* #memory, */
/* #temperature, */
/* #backlight, */
/* #battery, */
/* #clock, */
/* #tray { */
/*   padding: 0 6px; */
/*   margin: 0 3px; */
/* } */

#clock,
#battery,
#network,
#custom-notification,
#custom-player {
  padding: 0px 10px;
  margin: 0px 5px;
}

#clock {
  margin-right: 10px;
}

#battery.warning:not(.charging) {
  background: @red;
  color: @white_b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
