window {
  margin: 0px;
  border: 1px solid #928374;
  border-radius: 3px;
  background-color: #282828;
  font-family: monospace;
  font-size: 14px;
}

#input {
  margin: 5px;
  border: 1px solid #458588;
  color: #ebddb2;
  background-color: #282828;
}

#image {
  color: #458588;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #d5c4a1;
}

#entry:selected {
  background-color: #3c3836;
	color: #ebddb2;
  border-radius: 3px;
  font-weight: normal;
}

#text:selected {
  background-color: #3c3836;
	color: #ebddb2;
  border-radius: 3px;
  font-weight: bold;
}

