window {
  margin: 0px;
  border: 1px solid #928374;
  border-radius: 3px;
  background-color: #fbf1c7;
  font-family: monospace;
  font-size: 14px;
}

#input {
  margin: 5px;
  border: 1px solid #427b58;
  color: #323d43;
  background-color: #fbf1c7;
}

#img {
  color: #689d6a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #fbf1c7;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #fbf1c7;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #323d43;
}

#entry:selected {
  background-color: #ebdbb2;
	color: #323d43;
  border-radius: 3px;
  font-weight: normal;
}

#text:selected {
  background-color: #ebdbb2;
	color: #323d43;
  border-radius: 3px;
  font-weight: bold;
}

